body {
    --card-title: #ececec;
    --card-background: #2f95c4;
    --card-shadows-top-left: #46ddff;
    --card-shadows-bottom-right: #184d66;

    --value-background: none;
    --value-text: #ececec;

    --additional-text:  #ececec;
}