body {
    --card-background: linear-gradient(#d1d1d1, 5%, #ebe8e8, 95%, #d1d1d1);
    --value-background: linear-gradient(#2f95c4, #378fb8);
    --value-text: #ebe8e8;
    --additional-text:  #777575;
}