/* CORE STYLES */
.clear-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clear-card {
    border: 1px black solid;
    margin: 0.4em;
    padding: 0.2em 0.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clear-card-title {
    font-weight: bold;
}

.clear-card-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.4em;
}

.clear-card-row div {
    margin: 0em 0.25em;
}

.clear-card-row .clear-card-value {
    flex: 3;
    text-align: right;
}

.clear-card-row .clear-card-unit {
    flex: 1;
    font-size: 0.9em;
}

.clear-card-row .clear-card-label {
    flex: 2;
    text-align: center;
    font-size: 0.8em;
}

/*RESPONSIVE STYLES*/

@media screen and (min-width: 2001px) {
    .clear-card {
        width: calc(100% / 8);
    }
}

@media screen and (min-width: 1081px) and (max-width: 2000) {
    .clear-card {
        width: 120px;
    }
}

@media screen and (min-width: 761px) and (max-width: 1080px) {
    .clear-card {
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 481px) and (max-width: 760px) {
    .clear-card {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 480px) {
    .clear-card {
        width: calc(100%);
    }
}