.clear-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clear-card {
    border: 1px black solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
}

.clear-card-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.clear-card-row div {
    margin: 0em 0.25em
}

.clear-card-label {
    font-size: 0.8em;
}